body {
    color: #8f8f8f;
    font: 16px Tahoma, sans-serif;
    background-color: #f8f8f8;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
}
a {
    color: #000000;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}

p {
    margin: 20px 0;
}
#wrapper {
    max-width: 960px;
    margin: auto;
}

header {
    padding: 20px 0;
}

.rightFloat {
    float: right;
}

#heading {
    margin: 30px 0;
    padding-left: 20px;
}

#addAd {
    float: left;
}

aside {
    float: left;
    width: 250px;
}

aside input {
    font-family: 'Oswald', sans-serif;
    color: black;
    width: 200px;
    margin: 20px;
}

select {
    font-family: 'Oswald', sans-serif;
    color: black;
    width: 200px;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    margin: 20px;
}

